/*Main Styles for Webpages*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Megrim');

body
{
	padding: 0px;
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
}
div
{
    border-style: solid;
    border-width: 0px;
}
h1
{
	padding: 0px;
	margin: 0px;
}
.actionbutton
{
	margin: 2px;
	padding: 5px;
	width: 100px;
	border: 0px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-color: #bcbec2;

	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	-o-transition: all ease 0.2s;
	-ms-transition: all ease 0.2s ;
	transition: all ease 0.2s ;
}
.actionbutton:hover
{
	font-weight: bold;
	color: white;
	background-color: #55575e;

	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	-o-transition: all ease 0.2s;
	-ms-transition: all ease 0.2s ;
	transition: all ease 0.2s ;
}
.messages
{
	float: left;
	height: 70%;
	width: 79%;
	overflow: auto;
}
.messagebox
{
	float: left;
	height: 10%;
	width: 79%;
}
.conversations
{
	float: top;
	float: right;
	height: 80%;
	width: 20%;
}
.footerholder 
{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
}
.footer 
{
    background: none repeat scroll 0 0;
    font-size: 10px;
    height: 50px;
    margin: auto;
    width: 500px;
}
.smallform
{
	padding: 10px;
	width: 30%;
	float: left;
	margin: 10px;
	height: 300px;
}
.topButton
{
	margin: 2px;
	padding: 5px;
	width: 100px;
	border: 0px;
	float: right;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-color: #bcbec2;

	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	-o-transition: all ease 0.2s;
	-ms-transition: all ease 0.2s ;
	transition: all ease 0.2s ;
}
.topButton:hover
{
	font-weight: bold;
	color: white;
	background-color: #55575e;

	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	-o-transition: all ease 0.2s;
	-ms-transition: all ease 0.2s ;
	transition: all ease 0.2s ;
}
.header
{
	padding: 10px;
	border-bottom: 1px solid black;
	background-image: url(./Banner.png);
	color: #d1d1d1;
	font-family: 'Quicksand', sans-serif;
}
.page
{
	margin: 0px;
	padding: 0px;
}
.navbar
{
	width: 10%;
	float: left;
}
.content
{
	margin-left: 10%;
	padding: 10px;
}
.navbutton
{
  	-webkit-appearance: none;
  	font-family: 'Open Sans', sans-serif;
  	background-color: ##bcbec2;
	font-size: 16px;
	margin: 2px;
	padding: 5px;
	width: 100%;
	border: 0px;

	-webkit-transition: all ease 0.1s;
	-moz-transition: all ease 0.1s;
	-o-transition: all ease 0.1s;
	-ms-transition: all ease 0.1s ;
	transition: all ease 0.1s ;
}
.navbutton:hover
{
	-webkit-appearance: none;
	font-family: 'Open Sans', sans-serif;
	background-color: #55575e;
	font-weight: bold;
	color: white;
	border: 0;

	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	-o-transition: all ease 0.2s;
	-ms-transition: all ease 0.2s ;
	transition: all ease 0.2s ;
}
.navlist
{
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	width: 100%;
}
.clear 
{
    clear: both;
}

/*This is some formatting stuff for the login page*/
body
{
	padding: 0px;
	margin: 0px;
}
.background
{
 outline: 0px;
 position: absolute;
 z-index: 0;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 100%;
}
.overlay
{
	position: absolute;
	width: 100%;
	z-index: 1;
}
.title
{
	font-size: 100px;
	text-align: center;
	margin: auto;
	margin-top: 10%;
	width: 20%;
	font-family: 'Megrim', sans-serif;
}
.login
{
	margin: auto;
	width: 200px;
	font-family: 'Open Sans', sans-serif;
}
.loginfield
{
	margin: auto;
	width: 100%;
	opacity: 0.4;
}
.loginlabel
{
	color: #bcbec2;
}
.loginbutton
{
	-webkit-appearance: none;
  	font-family: 'Open Sans', sans-serif;
  	background-color: ##bcbec2;
	font-size: 16px;
	margin: 2px;
	padding: 5px;
	width: 100%;
	border: 0px;
	opacity: 0.6;

	-webkit-transition: all ease 0.1s;
	-moz-transition: all ease 0.1s;
	-o-transition: all ease 0.1s;
	-ms-transition: all ease 0.1s ;
	transition: all ease 0.1s ;
}
.loginbutton:hover
{
	-webkit-appearance: none;
	font-family: 'Open Sans', sans-serif;
	background-color: #55575e;
	font-weight: bold;
	color: white;
	border: 0;
	opacity: 1;

	-webkit-transition: all ease 0.2s;
	-moz-transition: all ease 0.2s;
	-o-transition: all ease 0.2s;
	-ms-transition: all ease 0.2s ;
	transition: all ease 0.2s ;
}


/*some code from that website to make the list a tree, will edit and learn how it works for final code*/
/*Now the CSS*/
* {margin: 0; padding: 0;}

.tree ul {
	padding-top: 20px; position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	/*font-family: arial, verdana, tahoma;*/
	font-size: 11px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}